<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Mencegah akses langsung ke folder application, system, dll.
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]
    
    # Redirect jika file atau direktori tidak ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Jika mod_rewrite tidak tersedia
    ErrorDocument 404 /index.php
</IfModule>
